<% # Clients of this partial must supply the following variables:
   # comment
   # user
%>

<% creator = comment.creator
   name = Commontator.commontator_name(creator) || ''
   link = Commontator.commontator_link(creator, main_app) || ''
   avatar = Commontator.commontator_avatar(creator, self) || ''
%>
<li id="comment_<%= comment.id.to_s %>_div" class="list-group-item">
  <div class="row">
    <div class="col-xs-2 col-md-1">
      <%= avatar %>
    </div>
    <div class="col-xs-10 col-md-11">
      <div>
        <%= link.blank? ? name : link_to(name, link) %>
        <span id="comment_<%= comment.id.to_s %>_actions_span" class="pull-right">
        <%= render :partial => 'commontator/comments/actions',
                   :locals => { :comment => comment,
                                :user => user } %>
        </span>
        <div id="comment_<%= comment.id.to_s %>_body_div" class="comment-text">
            <%= render :partial => 'commontator/comments/body',
                       :locals => { :comment => comment } %>
        </div>
        <div class="mic-info">
            <% if comment.is_modified? %>
              <div id="comment_<%= comment.id.to_s %>_updated_timestamp_span">
          <%= time_ago_in_words(comment.updated_timestamp) %> ago
              </div>
            <% else %>
              <div id="comment_<%= comment.id.to_s %>_created_timestamp_span">
          <%= time_ago_in_words(comment.created_timestamp) %> ago
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</li>