<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag "rails1.jpg", alt: @course.name, class: "img-responsive" %>
      </div>
      <div class="col-md-6">
        <h2><%= @course.name %></h2>
        <%= action_buttons(@course) %>
        <h4>DESCRIPTION</h4>
        <div style="width:100%; height:180px; overflow: auto;" >
          <small><%= raw(@course.description) %></small>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
      <h4>LECTURES</h4>
      <div class="list-group">
        <% @lectures.each do |lecture| %>
            <%= link_to course_lecture_path(@course, lecture), class: "list-group-item list-group-item-info" do %>
                <h5 class="list-group-item-heading"><%= lecture.seq_number %>. <%= lecture.name %></h5>
                <p class="list-group-item-text"><%= truncate(lecture.description, length: 50, separator: ' ') %></p>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div> 